{%extends 'base.html'%}
{%load static%}

{%block nav%}{%endblock nav%}

{%block content%}

<div class="valign-wrapper todo fondo">
   <div style="width:100%;"class="valign center">
   		<img class="responsive-img" src="{%static 'assets/logo_geek.png'%}">
<div class="fondito">
   		<h3 class="white-text">Inicia Sesión con tu Facebook:</h3>
   				<div class="divider"></div>
   		<h4 class="white-text">El futuro llegó a Pachuca.</h4>
   		<h5 class="white-text">¿Te gustaría ser parte?</h5>
   		<a href="{%url 'social:begin' 'facebook'%}" class="choncho flow-text btn-large waves-effect blue"><i class="fa fa-facebook-official"></i>
						¡Quiero ser Parte!</a>
		<div class="divider"></div>
{# <h5>Fixter.org solamente utiliza las cuentas de Facebook para generar usuarios a fin de acceder a la plataforma fácilmente. Nunca compartiremos tu información con terceras empresas ni publicaremos en tu nombre ningun video raro en tu muro.</h5> #}

</div>
   		
   </div>
</div>


{%endblock content%}