{%extends 'base.html'%}

{%block content%}

<section class="section">
<article class="container center">




<h1>¡Bienvenido!</h1>
<h2>Fixter.Geek</h2>

<div class="divider"></div>
{%if form.errors%}
	<p class="error">Tu usuario y Contraseña no Funcionan!. Prueba de nuevo.</p>
{%else%}
	<h5>Porfavor Introduce tu Usuario y Contraseña:</h5>
{%endif%}
	<form action="." method="post">
		
		{%csrf_token%}
		<div class="login-container">
		{{form.as_p}}
		<input type="hidden" name="next" value="{{next}}">
		<input class="btn orange waves-effect" type="submit" value="Entrar">
		</div>
			</form>



		<div class="divider"></div>


			<p>
		<a href="{%url 'password_reset'%}">
		Olvidaste tu password?
		</a>
	</p>

	<p>
		No tienes cuenta? Crea una aquí: 
		<a href="{# {%url 'register'%} #}">
			Registrate
		</a>
	</p>

		<h4>También puedes entrar con tus redes Sociales:</h4>
		<a href="{%url 'social:begin' 'facebook'%}" class="waves-effect waves-light btn blue">
						<i class="fa fa-facebook-official"></i>
						Facebook</a>
		<a href="{%url 'social:begin' 'twitter'%}" class="waves-effect waves-light btn light-blue">
						<i class="fa fa-twitter"></i>
						Twitter
					</a>

<div class="divider"></div>


</article>
</section>
{%endblock content%}