{%extends 'base.html'%}
{%load static%}

{%block titulo%}
	{{request.user.username}}'s Dashboard'
{%endblock titulo%}

{%block content%}

<section class="contenedor">


	<img class="perfil-img"src="http://graph.facebook.com/{{request.user.userprofile.ide}}/picture?type=large">
	
	<h2>{{request.user.first_name}} {{request.user.last_name}}</h2>

	<p>{{request.user.email}}</p>
  <a href="{%url 'apply' 1%}" class="button">Aplica a Fixter.Camp</a>

  <a href="{%url 'pagos:pago' %}" class="button button-primary">Realizar Pago</a>

  <br>

        <form action="." method="post">
        {%csrf_token%}
        {{form.as_p}}
        <input type="hidden" name="updateInfo" value="True">
        <input class="button button-primary" type="submit" value="Guardar">
      </form>

</section>


{%endblock content%}
