{%extends 'base.html'%}
{%load static%}

{%block titulo%}
	{{request.user.username}}'s Dashboard'
{%endblock titulo%}

{%block content%}



<div class="cover valign-wrapper">

	<div class="valign container white-text">
	<div class="row">
	<img class="perfil-img col m3 s12"src="http://graph.facebook.com/{{request.user.userprofile.ide}}/picture?type=large">
	<div class="col m9 s12">
	<h2>{{request.user.first_name}} {{request.user.last_name}}</h2>
	<h4>Miembro <span class="green-text">Activo</span></h4>
	<p>{{request.user.email}}</p>
	</div>
	</div>
	</div>


</div>

<section class="section toda">
<div class="coffe"></div> <!--Img-->
{# <div class="cuadro_negro"></div> <!--Cuadro negro--> #}
<article class="container">

<!-- Modal Trigger -->
	<a class="waves-effect waves-light btn orange modal-trigger" href="#modalData">Modificar mi info</a>
<!-- Modal Trigger -->
	<a href="{%url 'eventos:todos'%}"onclick="Materialize.toast('Proximamente', 4000)" class="waves-effect waves-light btn green">Tus Eventos</a>
	<a onclick="Materialize.toast('Proximamente', 4000)" href="{%url 'eventos:aplicacion' 'camp'%}" class="waves-effect waves-light btn red">Aplica a Fixter.Camp</a>

	









	</article>

</section>





  <!-- Modal Structure -->
  <div id="modalData" class="modal">
    <div class="modal-content">
      <form action="." method="post">
      	{%csrf_token%}
      	{{form.as_p}}
      	<input type="hidden" name="updateInfo" value="True">
      	<input class="orange btn" type="submit" value="Guardar">
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn red modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>



{%endblock content%}

{%block scripts%}
<script>
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });
</script>

  {%endblock scripts%}