/*Base*/
body{
	/*font-family: lato, sanserif;*/
	height: 100vh;
}

.logo-nav{
	max-height: 54px;
}

.divider{
	border-bottom: 1px solid orange;
	width:80%;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 4rem;
}



/*Perfil*/

/*login*/

.login-container{
	width: 250px;
	text-align: center;
	margin: 0 auto;
}


/*dashboard*/

.cover{
	background-image: url('../assets/cover-profile.jpg');
	background-size: cover;
	min-height: 240px;

}
.perfil-img{
	padding: 0;
	border-radius: 50%;
	transition: all 1s ease-in-out;
}
.perfil-img:hover{
	border-radius: 10%;
	
}

.coffe{
	background: url(/static/assets/people-coffee-tea-meeting.jpg) no-repeat;
	background-size: cover;
	position: absolute;
	top:-10px;
	right: -10px;
	bottom: -10px;
	left: -10px;
	z-index: 1;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);


}
.cuadro_negro{
	background: rgba(0,0,0,.7);
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	margin: 0;
	z-index: 2;

}
article.container{
	z-index: 9999;
	position: relative;
	text-align: center;
}
section{

	height: 100%;
	position: relative;
	overflow: hidden;
}
/*Main*/

/*home*/

.todo{
	/*height: 100%;*/
	width: 100%;
}
.fondo{
	background-image: url('/static/assets/cover.jpg');
	background-size: cover;
	
}
.blur {
-webkit-filter: blur(5px);
-moz-filter:blur(5px);
-ms-filter:blur(5px);
-o-filter:blur(5px);
filter:blur(5px);
} 

.choncho{
	border-radius: 30px;
}

.fondito{
	background:rgba(0,0,0,.5);
	padding-top: 50px;
	padding-bottom: 50px;
}

/*Detalle*/

.portada{
	position: relative;
	width: 100%;
	height: 50%;
	overflow: hidden;
}
@media(min-width: 800px){
	.portada{
		height: 50%;
	}
}
@media(min-width: 1200px){
	.portada{
		height: 70%;
	}
}

.portada-img{
-webkit-filter: blur(2px);
-moz-filter:blur(2px);
-ms-filter:blur(2px);
-o-filter:blur(2px);
filter:blur(2px);
position: absolute;
	top:-10px;
	right: -10px;
	bottom: -10px;
	left: -10px;
	z-index: 1;
width: 100%;
}
.portada-contenido{
	z-index: 3;
	position: absolute;
	color:white;
	bottom: 10%;
	width: 100%;
	text-align: center;


}
.section{
		padding: 0;
}

.btn-aplica-p{
	margin: 150px 0 10px 0
}

.btn-aplica{

	border: 1px solid #ff7b39;
	background-color: transparent;
	color: #ff7b39;
	width: 200px;
	height: 40px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.btn-aplica:hover{
	color:red;
	border: 1px solid red;
	background-color: transparent;
}
.btn-aplica:active{
	background-color: transparent;
}

.play{
	border-radius: 50%;
	border: 3px solid white;
	font-size: 5rem;
	padding: 1rem;
	position: relative;
	top:10px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.play:hover{
	color: orange;
	border-color: orange;
}





