<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
	</head>
	<body style="background: black;
	padding:0;
	margin:0;">

<table border='0' cellpadding='0' cellspacing='0' width="100%;"
style="
		background-color: white;
		background-image: url('http://fixter.org/img/email/bg-texture.png');

"
		width="100%">
	<tr>
		<td>
			


		<!-- Cabezote-->




		<table border='0' cellpadding='0' cellspacing='0' width='80%'
			style="text-align:center;"
			align="center">

				<tr style="background:white;
				color:black;
				background-image: url('http://fixter.org/img/email/bg-texture.png');
				font-family:'Trebuchet MS', Helvetica, sans-serif;"
				>
<td style="padding:25px 0;" width="50%">
<img style="max-height:65px;" src="http://www.fixter.org/img/email/geek_circulo.png" alt="">
</td>

<td>
<a href="http://www.fixter.org" target="_blank">
<img style="max-height:65px;" src="http://otech.uaeh.edu.mx/images/final_logo2-crop-u44762.png" alt="">
</a>
</td>
</tr>
</tbody></table>


<table border="0" cellpadding="0" cellspacing="0" width="80%" style="text-align:center;" align="center">

<tbody>
<tr style="background:none;color:black;">
<td width="100%" style="padding:25px 0;">
<img width='150' src="http://cdn.embed.ly/providers/logos/meetup.png" alt="">

<img width='150' src="http://www.a2hosting.com/images/uploads/landing_images/django-hosting.png" alt="">
</td>
</tr>


<tr>
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;text-align:justify;font-size:20px;padding:10px 0;padding-bottom:50px;color:grey;">

Django, para muchos el mejor framework de desarrollo Web del momento, o incluso el definitivo. <br> <br>
Django es hoy en día la plataforma de desarrollo de sitios Web tan extendidos como The New York Times, The Guardian o The Washington Post, además de ser utilizado por empresas como Google o Yahoo. <br> <br>

Este evento busca mostrar las capacidades del desarrollo ágil, potente y sencillo que Django nos ofrece, para desarrollar productos en tiempo record. <br> <br>Buscamos también crear una cultura hacker en la entidad, y queremos que seas parte de ella. <br> <br>

Aprenderás desde cero a crear un sitio web con capacidades ilimitadas.
</td>

</tr>
</tbody></table>





</td>
</tr>
</tbody></table>

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;" align="center">
<tbody><tr>
<td width="100%" style="color:grey;font-size:30px;font-family:'Trebuchet MS', Helvetica, sans-serif;padding:40px 0;">
Te invitamos a Nuestro Primer MeetUp en Pachuca
</td>
</tr>
</tbody></table>




<table border="0" cellpadding="0" cellspacing="0" width="100%;" style="
		background-color: white;
		background-image: url('http://fixter.org/img/email/bg-texture.png');

">
<tbody><tr>
<td>



<table border="0" cellpadding="0" cellspacing="0" width="80%" style="text-align:center;" align="center">

<tbody><tr style="background:none;color:black;">
<td style="padding:25px 0;font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:40px;padding:40px 0;">
Nuestros Invitados:
</td>
</tr>
</tbody></table>


<table width="60%" align="center" style="padding-top:50px;">
<tbody><tr align="center">
<td>
<img width='150' height='150' style="border-radius:50%;" src="https://pbs.twimg.com/profile_images/714808161899823104/7fFNY75v.jpg" alt="">
</td>

<td>
<img width='150' height='150' style="border-radius:50%;" src="https://pbs.twimg.com/profile_images/716174278362726401/fzPPg8Kf.jpg" alt="">
</td>
<td>
<img width='150' height='150' style="border-radius:50%;" src="https://pbs.twimg.com/profile_images/595180497648553984/-iomiuJJ.jpg" alt="">
</td>
</tr>

<tr align="center">
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:25px;">
Pablo Trinidad
</td>
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:25px;">
Oscar Roa
</td>
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:25px;">
Eder Vs
</td>

</tr>

<tr align="center">
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:20px;color:#ff8f00;">
Technical Writer en Platzi
</td>
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:20px;color:#ff8f00;">
Developer en Temazcal IO
</td>
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:20px;color:#ff8f00;">
Sensei en Dev.F
</td>
</tr>

<tr align="center">
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:15px;color:#1976d2;">
<a href="https://twitter.com/pablotrinidadpa?lang=es">
@PabloTrinidadPa
</a>
</td>
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:15px;color:#1976d2;">
<a href="https://twitter.com/oscaroa96?lang=es">
@oscaroa96
</a>
</td>
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:15px;color:#1976d2;">
<a href="https://twitter.com/EderVs04?lang=es">
@edervs04
</a>
</td>
</tr>

<tr align="center">
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:25px;color:black;padding-top:40px;padding-bottom:40px;">
"Construyendo un Producto en 40 minutos"
</td>

<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:25px;color:black;padding-top:40px;padding-bottom:40px;">
"Lo que necesitas para empezar con Django"
</td>
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:25px;color:black;padding-top:40px;padding-bottom:40px;">
"Primeros pasos con Django"
</td>
</tr>



</tbody></table>

<table width="70%" align="center">
<tbody><tr>
<td style="font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:25px;color:#ff8f00;padding-top:40px;padding-bottom:40px;text-align:center;">
No te pierdas la oportunidad de aprender de los mejores, este <b style="color:red;">Miercoles 13 de Abril. <br>
11:00hrs
</b>&nbsp;
<p style="color:green;">En el edificio de CEVIDE en la UAEH, Carretera Pachuca - Tulancingo, Km. 4.5 Mineral de la Reforma Hidalgo, México C.P. 42074</p>

<br> 

<p style="color:red;">Este evento es totalmente GRATIS, gracias a nuestros patrocinadores.</p><br>

</td>
</tr>
<tr>
<td style="background:#ff8f00;border-radius:15px;width:100%;font-size:25px;text-align:center;font-weight:bold;font-family:'Trebuchet MS', Helvetica, sans-serif;height:50px;">
<a style="text-decoration:none;color:white;" href="http://www.meetup.com/es-ES/Pachuca-Django-Dev-by-FixTeR/" target="_blank">
¡Regístrate ahora!
</a>
</td>
</tr>
<tr>
<td style="background:#66bb6a;border-radius:15px;width:100%;font-size:25px;text-align:center;font-weight:bold;font-family:'Trebuchet MS', Helvetica, sans-serif;height:50px;">
<a style="text-decoration:none;color:white;" href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=ZzJhaTE3ZXJiamwzOWl2NzRkczVwOXRqcW8gY29udGFjdG9AZml4dGVyLm9yZw&tmsrc=contacto%40fixter.org
" target="_blank">
¡Agregalo a tu Calendario!
</a>
</td>
</tr>
</tbody></table>







<table border="0" cellpadding="0" cellspacing="0" width="80%" style="text-align:center;" align="center">

<tbody><tr>
<td style="padding:25px 0;">
<a href="http://www.fixter.org" target="_blank">
<img style="max-height:65px;" src="http://www.fixter.org/img/email/FIXTER_CUBO_VERDE.png" alt="">
</a>
</td>

</tr>

</tbody></table>


</td>
</tr>
</tbody></table>


</div></div>