<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>FixterGeek invita</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">    
            <tr>
                <td bgcolor="black" align="center" style="padding: 40px 0 30px 0;">
                    <img width="150px" src="https://www.fixter.camp/static/assets/logo_geek.png" alt="FixterGeek" style="display: block;"/>
                </td>
            </tr>
            <tr>
                <td bgcolor="#fff" style="padding: 40px 40px 40 px 30px; margin-left: .5em;">
                    <table>
                        <tr>
                            <td style="color: #000; font-family: Arial, sans-serif; font-size: 24px; padding: 10px 0 0 10px;">
                                <b>Estimado:</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 35px 30px 35px; font-family: Arial; font-size: 16px; line-height: 20px; text-align: justify;">
                            <span style="font-size:2rem">E</span>n vísperas de las celebraciones navideñas, el equipo de Fixter ha organizado el <span style="color:blue; font-size:1.2rem">"Hackaton Navideño"</span> a celebrarse el día 17 de diciembre del 2016 en nuestras instalaciones ubicadas en el Parque Científico y Tecnológico del Estado de Hidalgo, a las 11:00 am. El cual tiene como objetivo la convivencia de estudiantes, profesionistas y público en general con conocimientos tecnológicos. El evento tiene prevista la participación de más de <span style="color:orange; font-size:1.2rem">100 asistentes</span>, donde la competencia consiste en retos de programación y adicionales.
                            <br><br>
                            Me dirijo a usted como parte de la comunidad empresarial del estado de Hidalgo, para invitarlo a ser <span style="color:orange; font-size:1.2rem">parte</span> de nuestra mesa de  <span style="color:orange; font-size:1.2rem">patrocinadores</span>.
                            <p style="border:solid 1px green;width:100%"></p>
                            
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 35px 30px 35px; font-family: Arial; font-size: 16px; line-height: 20px; text-align: center;">
                                <img width="40%" src="https://lh3.googleusercontent.com/-wCaZJ_o4rXM/V9yJeHzlhII/AAAAAAAAePE/koac6r4-yuICPbu6YoNpJ6I8Rjluz_6IQCJkC/s284-k-no/">
                                <img width="34%" src="http://www.elindependientedehidalgo.com.mx/wp-content/uploads/2016/09/PARQUE-CIENTIFICO-JORGE-ALLEC.jpg">
                                
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 35px 30px 35px; font-family: Arial; font-size: 16px; line-height: 20px; text-align: justify;">
                            Destacando que a intención de este concurso es en primer instancia invitarlo a asistir al evento y posteriormente solicitarle su patrocinio el cual puede otorgarse de forma económica o por medio de <span style="color:orange; font-size:1.2rem">premios de cualquier indole</span> para los ganadores del evento.
                            <br><br>
                            De aceptar nuestra petición para formar parte de nuestros patrocinadores, el nombre de su empresa estará en todas las lonas, publicidad digital, videos transmitidos durante el evento, en los banners que se utilizarán de fondo para las entrevistas, y también menciones durante la apetura y premiación, en función del kit de patrocinio que sea de su preferencia; lo que le permitirá publicitarse en distintos medios impresos y digitales. Los paquetes de patrocinio parten de los $1,000.00 hasta $10,000.00 pesos mexicanos.
                            <br><br><p style="border:solid 1px green;width:100%"></p>
                            Esperando poder contar con su participación y <span style="color:blue; font-size:1.2rem">pronta respuesta</span>. Agradezco de antemano su tiempo, reiterando que aunque la invitación no sea aceptada, esperamos contar con su presencia.
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px 0 20px 0; font-family: Arial; font-size: 16px; line-height: 20px; text-align: center;">
                            <b>Atentamente: TeamFixter</b>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="black" style="padding: 30px 30px 30px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="font-size: 20px; font-family: Arial; text-decoration: none">
                        <a href="http://hackaton.fixter.org" style="color: white;">FixterGeek &reg; 2016</a>
                        </td>
                        <td align="right">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <a href="http://www.twitter.com/fixter_">
                                        <img width="40px" src="http://www.pngall.com/wp-content/uploads/2016/07/Twitter.png" alt="Twitter" width="40" height="40" style="display: block;" border="0"/>
                                    </a>
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                <td>
                                    <a href="http://www.facebook.com/fixterme">
                                        <img width="40px" src="http://www.freeiconspng.com/uploads/facebook-icon--basic-round-social-iconset--s-icons-7.png" alt="Facebook" width="40" height="40" style="display: block;" border="0"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                </table>
                </td>
            </tr>
            </table>
        </td>
    </tr>    
</table>    
</body>