{%extends 'base.html'%}
{%load static%}
{%block titulo%}Fixter.Camp{%endblock titulo%}




{%block content%}


<section class="fondillo">
<article class="accion">

<h2 class="white-text">Summer Fixter.Camp Pachuca</h2>
<a href="#modal1" class="modal-trigger">
<h4 class="white-text">Play 
	<i class="puntero fa fa-play-circle-o" aria-hidden="true"></i>
 Video</h4>
 </a>
 <br>
 <h5 class="white-text">Un recorrido guiado y estructurado para convertirte en desarrollador</h5>
<br><br><br>
<a href="{%url 'eventos:aplicacion' 'camp'%}" class="btn orange flow-text">Aplicar</a>

</article>



</section>


<section id="call_to_action" class="white center">
<br>
	<p class="flow-text orange-text">Invierte tan solo 10 semanas construyendo Apps y cambia tu vida.</p>
	


<!-- Your share button code -->
<div style="margin-top:15px;text-align:center;" class="fb-like" data-href="http://geek.fixter.org" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</section>





<section class="section">
<article class="container">
<h3>¡Codéate un futuro nuevo en 10 semanas!</h3>
<div class="divider"></div>
<h5>
Fixter.Camp es el primer Bootcamp en pachuca de corta duración 100% inmersivo que transforma principiantes en desarrolladores web full-stack en solo 10 semanas.<br><br>(on-site 3hr/día de 4pm a 7pm)</h5>
</article>
<br><br>

<div class="row container">

<div class="hoverable"><!--card-->
<div class="col m2 cien center">
<i class="big fa fa-leanpub" aria-hidden="true"></i>
<p><h5><strong>Aprende</strong></h5></p>
</div>

<div class="col m10">
<p style="text-align:justify;" class="flow-text">
Aprende los fundamentos del desarrollo web, la maquetación con html5, los estilos y animaciones con css, juntalo todo y hazlo interactivo con javascript, y sirviendo un backend con Python usnado django como framework con desarrollo ágil y metodología test-driven</p>
</div>
</div> <!--card-->

<div class="hoverable"><!--card-->
<div class="col m2 cien center">
<i class="big fa fa-file-code-o" aria-hidden="true"></i>
<p><h5><strong>Practica</strong></h5></p>
</div>

<div class="col m10">
<p style="text-align:justify;" class="flow-text">
Practica lo que haz aprendido mediante retos interactivos de código. Este estilo de practica te permitirá retener toda la información que haz obtenido y podrás aplicarla a tus futuros proyectos</p>
</div>
</div> <!--card-->


<div class="hoverable"><!--card-->
<div class="col m2 cien center">
<i class="big fa fa-shield" aria-hidden="true"></i>
<p><h5><strong>Gana</strong></h5></p>
</div>

<div class="col m10">
<p style="text-align:justify;" class="flow-text">
Conforme vayas conociendo las herramientas que te ayudarán a construir Apps geniales, irás ganando Insignias, las cuales serán el indicador de que ahora las dominas</p>
</div>
</div> <!--card-->


<div class="hoverable"><!--card-->
<div class="col m2 cien center">
<i class="big fa fa-connectdevelop" aria-hidden="true"></i>
<p><h5><strong>Conécta</strong></h5></p>
</div>

<div class="col m10">
<p style="text-align:justify;" class="flow-text">
Aprenderás a trabajar en equipo con metodologías ágiles, conocerás gente igual de apasionada que tú y exploraras junto a tu increible instructor el mundo de los lenguajes de programacion detras de app increibles como twitter o The New York Times</p>
</div>
</div> <!--card-->


</div> <!--row-->




</section>

<section class="relativo center section orange">




<article class="container">

<br>
<a href="{%url 'eventos:aplicacion' 'camp'%}" class="btn white"><span class="flow-text orange-text">Cómo Aplicar</span></a>
<p class="flow-text white-text">Buscamos personas que estén apasionadas por aprender a programar, no discriminamos a nadie. <br>¡Pero buscamos personas con la actitud correcta! </p><p class="flow-text"><strong>Comenzámos el 11 de Julio 2016 <br>
<a target="_blank" class="black-text" href="https://goo.gl/maps/64KErNYFDfD2">
En el Parque Cientifico y tecnológico del Estado de Hidalgo
</a>

	</strong></p>
<div class="divider"></div>
<h3 class="white-text">Preguntas Frecuentes</h3>
<br><br><br>

<div class="white-text row">

<div style="text-align:center;" class="blanquito hoverable col m12">
<i class=" big-w fa fa-filter" aria-hidden="true"></i>
<p><h5><strong>¿A quién seleccionan?</strong></h5></p>
<p class="flow-text">
Buscamos diversidad, queremos personalidades diferentes con muchas ganas de aprender y cambiar su futuro, no toleramos la negatividad por eso el único factor para seleccionar es la actitud correcta, así que aplica con la mejor actitud</p>

</div> <!--Card-->

<div style="text-align:center;" class="azulito hoverable col m12">
<i class="big-w fa fa-laptop" aria-hidden="true"></i>
<p><h5><strong>¿Tengo que llevar mi laptop?</strong></h5></p>
<p class="flow-text">
¡Si! en el transcurso del Fixter.Camp harémos muchisimos ejercicios, trabajarás en equipo y habrá mucha información que procesar así que necesitaras tu computadora a la mano siempre aún en tu casa</p>

</div> <!--Card-->

</div><!--row-->
<div class="white-text row">

<div style="text-align:center;" class="rosita hoverable col m6">
<i class="big-w fa fa-graduation-cap" aria-hidden="true"></i>
<p><h5><strong>¿Necesito algun nivel de estudio o experiencia?</strong></h5></p>
<p class="flow-text">
Definitivamente ¡NO!, no importa si no haz escrito nunca 1 sola linea de código, o si eres todo un hacker, el Fixter.Camp es para cualquiera que le apasione aprender a programar sin importar que no hayas ido a la escuela formal</p>

</div> <!--Card-->

<div style="text-align:center;" class="verdesin hoverable col m6">
<i class="big-w fa fa-credit-card" aria-hidden="true"></i>
<p><h5><strong>¿Cual es el precio del Fixter.Camp?</strong></h5></p>
<p class="flow-text">
La inversión total para tener acceso al Fixter.Camp inmersivo de 10 semanas es de $12,000.MXN que puedes pagar de contado o hasta en 3 partes  en el transcurso del Fixter.Camp. Tambien tenemos la opción de 12 mensualidades sin intereses de $1,000.MXN pagando con <strong>tarjeta de credito</strong></p>

</div> <!--Card-->

<div style="text-align:center;" class="blanquito hoverable col m12">
<i class="big-w fa fa-star" aria-hidden="true"></i>

<p><h5><strong>¿Puedo tener acceso a una Beca?</strong></h5></p>
<p class="flow-text">
¡Claro que sí!, sabemos que tienes el talento para aprovechar nuestro Fixter.Camp pero a veces no los recursos, por eso tenemos un sistema de becas del <strong>20%, 30% y 50%</strong>, para que no te quedes fuera de esta gran experiencia, si necesitas una beca aplica e indica porqué la necesitas</p>

</div> <!--Card-->

<a target="_blank" class="white-text" href="https://goo.gl/maps/64KErNYFDfD2">
<div style="text-align:center;" class="azulito hoverable col m12">
<i class="big-w fa fa-street-view" aria-hidden="true"></i>

<p><h5><strong>¿Donde será el Fixter.Camp?</strong></h5></p>
<h3 class="flow-text">
 Exhacienda de la Concepción 3, 42162 Hgo.</h3>
 <h4>Ver en Google Maps</h4></a>

</div> <!--Card-->





</div><!--row-->


<a href="{%url 'eventos:aplicacion' 'camp'%}" class="btn white"><span class="flow-text orange-text">Aplica para una Beca</span></a>
<br><br><br>
</article>
</section>








  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Fixter.Camp Trailer</h4>
      
<div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/Yqbb3SnzmEE?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>





{%endblock content%}

{%block scripts%}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6&appId=421914394679473";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>
{%endblock scripts%}