{%extends 'base.html'%}
{%load static%}

{%block content%}

<section class='campamento'>
	<h3 style="" class='text_camp center'>FixterCamp#4</h3>
	<hr style="color:black; size:3px">

	<div class='contenedores'>
		<div class='row blanco'>
			<div style="padding:0px" class=' col-lg-12'>
				<div class='cuadra'>
					<div class='cubierta'>
						<div class='informacion'>
							<img class='instructor' src="{%static 'assets/fotos/bliss1-01.png'%}">
							<h3 class='name'>Héctor Bliss</h3>
							<div class='hr'></div>
								<p class='puesto'>Fullstack Developer</p>
								<p class='paths'>
									Aprende a programar con el lenguaje de programación más poderoso: Python. Empezaremos desde 0 hasta crear una app Backend y hospedarla en un servidor Linux.
								</p>
								<a href="{%static 'temario/Temario.pdf' %}" style="color:white; font-size:20px; padding: 200px 0px">
									<span class="download glyphicon glyphicon-save" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Descargar temario"></span>
								</a>
						</div>		
					</div>	
				</div>
			</div>
			<div class='col-lg-12'>
				<div class='row'>
					<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
						<h4 class='way'>Backend Paeh</h4>
						<p class='fecha'>21 de Octubre</p>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
						<img class='path' src="{%static 'assets/camp/pyth.png'%}">
						<p class='temas'>Python</p>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
						<img class='path' src="{%static 'assets/camp/django.png'%}">
						<p class='temas'>Django</p>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
						<img class='path' src="{%static 'assets/camp/git-01.png'%}">
						<p class='temas'>GitHub</p>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
						<img class='path' src="{%static 'assets/camp/post.png'%}">
						<p class='temas'>Postgres</p>
					</div>
				</div>
			</div>
			<div class='precio'>
					<div style="text-align:center; font-size:20px" class=''>
							<span >Precio por promoción:</span> 
							<span style="color:#B4C085">$6,000.00</span>
					</div>
			</div>
			<br/>
			
			<a href="{%url 'apply' 3%}" class="btn_in">
				Inscribirme
			</a>
			
		</div>
	</div>
	
	<div class='contenedores'>
		<div class='row blanco'>
			<div style="padding:0px" class=' col-lg-12'>
				<div class='cuadrado2'>
					<div class='cubierta'>
						<div class='informacion'>
							<img class='instructor' src="{%static 'assets/fotos/david1-01.png'%}">
							<h3 class='name'>David Zavala</h3>
							<div class='hr'></div>
								<p class='puesto'>Frontend Developer</p>
								<p class='paths'>
									Aprende a desarrollar apps en Javascript de forma optimizada y organizada con React.js, la librería creada por Facebook. React es una librería que te ayudará a desarrollar de forma rápida, ligera y escalable.
								</p>
								<a href="{%static 'temario/Temario.pdf' %}" style="color:white; font-size:20px; padding: 200px 0px">
									<span class="download glyphicon glyphicon-save" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Descargar temario"></span>
								</a>
						</div>		
					</div>	
				</div>
			</div>
			<div class='col-lg-12'>
				<div class='row'>
					<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
						<h4 class='way'>Frontend Path</h4>
						<p class='fecha'>21 de Octubre</p>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
						<img class='path' src="{%static 'assets/camp/react.png'%}">
						<p class='temas'>React</p>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
						<img class='path' src="{%static 'assets/camp/ecm-01.png'%}">
						<p style='font-size:13px' class='temas'>ECMAScript 6</p>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
						<img class='path' src="{%static 'assets/camp/git-01.png'%}">
						<p class='temas'>GitHub</p>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>
						<img class='path' src="{%static 'assets/camp/fire-01.png'%}">
						<p class='temas'>Firebase</p>
					</div>
				</div>
			</div>
			<div class='precio'>
					<div style="text-align:center; font-size:20px" class=''>
							<span >Precio por promoción:</span> 
							<span style="color:#B4C085"> $6,000.00</span>
					</div>
			</div>
			<br/>
			
			<a href="{%url 'apply' 3%}" class="btn_in">
				Inscribirme
			</a>
			
		</div>
	</div>

		<!--<div class='contenedores'>-->
		<!--<div class='row blanco'>-->
			<!--<div style="padding:0px" class=' col-lg-12'>-->
				<!--<div class='cuadra3'>-->
					<!--<div class='cubierta'>-->
						<!--<div class='informacion'>-->
							<!--<img class='instructor' src="{%static 'assets/fotos/saul2-01.png'%}">-->
							<!--<h3 class='name'>Saul Sandoval</h3>-->
							<!--<div class='hr'></div>-->
								<!--<p class='puesto'>Mobile Developer</p>-->
								<!--<p class='paths'>-->
									<!--Utilizando Unity adentrate en el mundo de la realidad virtual, crea  tus propios videojuegos en 2D y 3D (personajes, mapas, villanos),  y un sin fin de entornos virtuales.-->
								<!--</p>-->
								<!--<a href="{%static 'temario/Temario.pdf' %}" style="color:white; font-size:20px; padding: 200px 0px">-->
									<!--<span class="download glyphicon glyphicon-save" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Descargar temario"></span>-->
								<!--</a>-->
						<!--</div>		-->
					<!--</div>	-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class='col-lg-12'>-->
				<!--<div class='row'>-->
					<!--<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>-->
						<!--<h4 class='way'>Videogames-->
						<!--<br> Path</h4>-->
						<!--<p class='fecha'>8 de Abril al 27 de Mayo</p>-->
					<!--</div>-->
					<!--<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>-->
						<!--<img class='path' src="{%static 'assets/images/unity-01.png'%}">-->
						<!--<p class='temas'>Unity</p>-->
					<!--</div>-->
					<!--<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>-->
						<!--<img class='path' src="{%static 'assets/images/android-01.png'%}">-->
						<!--<p class='temas'>Android</p>-->
					<!--</div>-->
					<!--<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>-->
						<!--<img class='path' src="{%static 'assets/images/c-01.png'%}">-->
						<!--<p class='temas'>C#</p>-->
					<!--</div>-->
					<!--<div class='col-lg-2 col-md-2 col-sm-3 col-xs-3'>-->
						<!--<img class='path' src="{%static 'assets/camp/fire-01.png'%}">-->
						<!--<p class='temas'>Firebase</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class='precio'>-->
					<!--<div style="text-align:center; font-size:20px" class=''>-->
							<!--<span >Precio por promoción:</span> -->
							<!--<span style="color:#B4C085"> $6,000.00</span>-->
					<!--</div>-->
			<!--</div>-->
			<!--<br/>-->
			<!---->
			<!--<a href="{%url 'apply' 3%}" class="btn_in">-->
				<!--Inscribirme-->
			<!--</a>-->
			<!---->
		<!--</div>-->
	</div>
	
</section>



{%endblock content%}