<!DOCTYPE html>
{%load static%}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Terminos y condiciones</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/normalize.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/skeleton.css'%}">
  <!--Fa fa icons-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<style>
	.tope{
		padding-top: 100px;
	}
		.centrado{
	margin: 0 auto;
	text-align: center;
}
.relativo{
	position: relative;
}
.tache{
	position: absolute;
	top:50px;
	right: 0px;
	z-index: 1;
	color: black;
	font-size: 6rem;
}
	</style>

</head>

<body>

	<section class="section">

	<article class="container">
		<h1>Terminos y condiciones del servicio</h1>

	<h3>Cargos y facturación.</h3>
<p>Este Sitio Web www.fixter.org y www.fixter.camp (el “Sitio Web”) es operado por
Héctor Feliciano Campos Muñoz (“Fixter” o “nosotros”) y se encuentra a su
disposición para fines informativos. Al acceder o utilizar este Sitio Web, usted
acepta estos Términos y Condiciones de Uso y Privacidad. Si usted no acepta los
Términos y Condiciones de Uso, usted no puede utilizar este Sitio Web. </p>

<h5>Acuerdo de pago.</h5>
<p>Todos los usuarios del Servicio deben aceptar, en primer lugar, estos Términos de Servicio, y llenar una autorización de pago y, en el caso de que financien su compra, suscribir los Términos y Condiciones de Compra. Usted acepta pagar por todo el Contenido del Fixter.Camp que no se obtenga por medio de un código de promoción o que la Compañía no le haya ofrecido en forma gratuita.</p>

<h5>Política de reembolso.</h5>
<p>No realizamos ningun tipo de devolución.

No hacemos reembolsos. 

No hacemos devoluciones para pagos en efectivo.</p>

<h5>Terminación.</h5>
<p>La Compañía se reserva el derecho a dar por terminada su Cuenta de fixter.org y/o el acceso por parte de usted al Servicio si infringe los Términos de Servicio. Si se diera por terminada su membrecía y suscripción(s) de fixter.org al Servicio, no serán reembolsables las cuotas ni los cargos.</p>

<h5>Plan de meses sin intereses</h5>
<p>No puedes cancelarlo antes de que pasen los 3, 6, 9 o 12 meses de compromiso.

Sólo aplica para pagos con tarjeta de crédito cuya fecha de expiración sea mayor a 12 meses.

Fixter no te cobra intereses pero tu banco puede aplicar tarifas adicionales. Consulta con ellos.</p>

<h5>Impuestos.</h5>
<p>Las compras en el Servicio pueden incluir el impuesto sobre ventas o el impuesto al valor agregado (cuando proceda) y dicho impuesto se basará en la mejor información disponible acerca de su dirección. En tales casos, se aplicará el tipo impositivo que esté en vigor en el momento en que se realicen las compras en el Servicio. Si cambia el tipo impositivo aplicable a las ventas antes de finalizar las compras correspondientes, se aplicará el nuevo tipo impositivo que esté en vigor en el momento de concretar la compra en el Servicio. Podrían aplicarse otras limitaciones y renuncias a responsabilidad sobre productos y servicios. Usted será el único responsable de pagar la totalidad de dichos impuestos.</p>

<h5>Derecho al cambio de precios.</h5>
<p>Todos los precios relacionados con el Servicio están sujetos a cambios por la Compañía en cualquier momento, sin previo aviso y sin responsabilidad alguna hacia usted. La Compañía no ofrece una protección de precios o rembolsos en caso de una caída de precios o una oferta promocional.</p>

</article>
</section>
</body>

</html>