<!DOCTYPE html>
{%load static%}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Aplica</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/normalize.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/skeleton.css'%}">
  <!--Fa fa icons-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<style>
	.tope{
		padding-top: 100px;
	}
		.centrado{
	margin: 0 auto;
	text-align: center;
}
.relativo{
	position: relative;
}
.tache{
	position: absolute;
	top:50px;
	right: 0px;
	z-index: 1;
	color: black;
	font-size: 6rem;
}
.card-errors{
  text-align: center;
  background: red;
  color:white;
  font-size: 4rem;
}
	</style>

</head>

<body>
	<section class="container relativo">


		<a href="{%url 'dashboard' %}">
		<i class="tache fa fa-times-circle" aria-hidden="true"></i>
		</a>


		<div class="centrado tope">
		<img src="{%static 'assets/logo_geek.png'%}">
		<h5>Información de Pago</h5>
		
	</div>
</section>
		
<section class="container">
<div class="row">

  <!--Codigo de descuento-->
<div class="eight columns">
  <input type="text" id="cupon" placeholder="ingresa el código">
  <button id="descuento" class="button" style="background:yellow;">Aplicar Código de descuento</button>
  <img id="loading" style="display:none;width:20px;" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/585d0331234507.564a1d239ac5e.gif">
</div>

<br>
<br>
<br>
<br>

<form style="" action="." method="POST" id="card-form">
{%csrf_token%}
  <p class="card-errors"></p>

<h4>Monto total: $

			<input disabled value="{{amount}}" type="text" name="amount" id="amount">MXN 
      <span style="background:yellow;color:black;display:none" id="aplicado">Descuento Aplicado</span>
    </h4>

<select class="four columns" name="meses">
  <option value="">De Contado</option>
  <option value="3">3 Meses sin intereses</option>
  <option value="6">6 Meses sin intereses</option>
  <option value="12">12 Meses sin intereses</option>
</select>



  <div class="form-row twoeleven column">
        <label>
      <span>Número telefónico</span><br>
      <input type="text" size="40" name="tel"/>
    </label>
    <label>
      <span>Nombre del tarjetahabiente</span><br>
      <input type="text" size="40" data-conekta="card[name]"/>
    </label>

  </div>

  <div class="form-row three columns">
    <label>
      <span>Número de tarjeta de crédito</span><br>
      <input type="text" size="20" data-conekta="card[number]"/>
    </label>
  </div>

  <div class="form-row two columns">
    <label>
      <span>CVC</span><br>
      <input type="text" size="4" data-conekta="card[cvc]"/>
    </label>
  </div>

  <div class="form-row six columns">
  	
    <label >
      <span>Fecha de expiración (MM/AAAA)</span><br>
      <input type="text" size="2" data-conekta="card[exp_month]"/>
    
    
    <span>/</span>
    <input type="text" size="4" data-conekta="card[exp_year]"/>
    </label>

  </div>


<div class="six columns">
  <input id="check" type="checkbox" name="terminos" value="True">Acepto los <a href="{%url 'pagos:terminos'%}">Términos y Condiciones</a><br>
</div>

<button id="pagar" type="submit" class="button-primary u-full-width">¡Pagar ahora!</button>
<img id="loader" style="width:100px;display:block; true;margin:0 auto;" src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif">
</form>
  

</div>




<span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=Ldsz79VRj8N3Rl1rHqdgb64EZH4cLwZ1HN3pQ1MWAErK4X93h7iAln4WOsi6"></script></span>
</section>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--Scripts de Conecta -->
<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.5.0/js/conekta.js"></script>

<script type="text/javascript">
 
 // Conekta Public Key
  // Conekta.setPublishableKey('key_Ik4WxMhXctrriTvyfMAimyg');
  $('#loader').hide();
  $('#pagar').hide();
  Conekta.setPublicKey('key_WjR6vbjKGjpeL4sQCwJYCVw'); //v5+


  var conektaErrorResponseHandler = function(response) {
  var $form = $("#card-form");
  
  /* Muestra los errores en la forma */
  $form.find(".card-errors").text(response.message_to_purchaser);
  $form.find("#pagar").fadeIn();
	};


	var conektaSuccessResponseHandler = function(token) {
	  var $form = $("#card-form");

	  /* Inserta el token_id en la forma para que se envíe al servidor */
	  $form.append($("<input type='hidden' name='conektaTokenId'>").val(token.id));
	 
	  /* and submit */
	  $form.get(0).submit();
	};



  $(function () {
  $("#card-form").submit(function(event) {
    var $form = $(this);

    // Previene hacer submit más de una vez
    $form.find("#pagar").fadeOut();
    $('#loader').show();
    // Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
   Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler); //v5+
   
    // Previene que la información de la forma sea enviada al servidor
    return false;
  });
});
</script>

<script type="text/javascript">

$('#check').on('click',function(){
  if ( $( '#check' ).prop( "checked" ) ){
    $('#pagar').show();
  }else{
    $('#pagar').hide();
  }
  
});

</script>

<script>
//Descuento

$('#descuento').on('click',function(){
  var url = '/eventos/descuento/{{amount}}/'+$('#cupon').val()+'/';
  console.log(url);
  $.ajax({
    url:url,
    method:'GET',
    success:function(response){
      console.log(response);
      $('#amount').val(parseInt(response));
      $('#aplicado').fadeIn();

      // $('#amount').val(response.)
    },
    error:function(response){
      console.log(response);
    },
    beforeSend:function(){
      $('#loading').show();
      $('#descuento').hide();
    },
    complete:function(){
      $('#loading').hide();
      // $('#descuento').show();
    }

  });
});
</script>




</body>
</html>







